<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Editar por ID - Método PUT</h2>
    <form action="" class="editar">
        <label for="">Digite o Id do produto que deseja editar: </label>
        <Input style="width: 50px;" name="idUser" id="idUser" />
        <br>
        <hr>
        <h4>Dados à Modificar</h4>
        <label for="">Nome</label> <input name="nomeUser" type="text" id="nomeUser"> <br>
        <label for="">Telefone</label> <input name="telUser" type="text" id="telUser"><br><br>
        <label for="">Email</label> <input name="emailUser" type="text" id="emailUser"><br><br>
        <label for="">Endereço</label> <input name="cepUser" type="text" id="cepUser"><br><br>
        <label for="">CPF</label> <input name="cpfUser" type="text" id="cpfUser"><br><br>
        <button class="btn">Editar</button>
    </form>
    <br>

    <script src="./script.js"></script>
</body>
</html>