<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Usuário</title>
</head>
<body>
    <h2>Deletar por ID</h2>
    <form action="">
        <label for="">Digite o Id do produto que deseja Deletar: </label>
 
        <Input style="width: 50px;" name="idUser" id="idUser" />
        <br>
        <button class="btn">Deletar</button>
    </form>
    <br>
    <table>
        <thead style="background-color: black; color: white;">
            <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">CEP</th>
            <th scope="col">CPF</th>
            </tr>
            <tbody id="corpo_tabela">
          
            </tbody>
        </thead>
    </table>
    <script type="module" src="./script.js"></script>
</body>
</html>