<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando POST com api-fetch</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="">
        <label for="id">Id</label>
                <input id="id" type="text" name="idUser">
                <br>
                <label for="nome">Nome</label>
                <input id="nome" type="text" name="nomeUser">
                <br>
                <label for="tel">Telefone</label>
                <input id="tel" type="text" name="telUser">
                <br>
                <label for="email">Email</label>
                <input id="email" type="text" name="emailUser">
                <br>
                <label for="cep">Endereco</label>
                <input id="cep" type="text" name="cepUser">
                <br>
                <label for="cpf">cpf</label>
                <input id="cpf" type="text" name="cpfUser">

        <br>  
        <button>ENVIAR</button>  
    </form>
    <script type="module" src="./script.js"></script>
</body>
</html>