* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

.bloco {
    padding: 20px;
    background-color: #5838aa8f;
    border: solid 2px #372b58;
    border-radius: 5%;
    color: white;
    margin-bottom: 60px;
}

.grupo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label {
    margin-left: 10px;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}


.btn {
    background-color: #fff !important;
    transition: 500ms linear;
}

.btn:hover {
    background-color: #6e5aa6 !important;
    color: #fff !important;
}

button,
input {
    border-radius: 7px !important;
}

button {
    padding: 8px;
    transition: 500ms linear;
}

button:hover {
    background-color: #6e5aa6;
    color: #fff;
}

input {
    border: 1px solid #372b58;
    padding: 5px;
}

tbody {
    background-color: #5838aa39;
    vertical-align: middle !important;
}

table {
    width: 80% !important;
    margin-bottom: 3% !important;

}

th {
    background-color: #6e5aa6 !important;
}